h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
body {
  font-size: 16px;
}
.btn-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
.btn {
  cursor: pointer;
  padding: 4px 8px;
  margin: 4px;
  background-color: #d8d8d8;
  border: 1px solid transparent;
  user-select: none;
}
.btn:hover {
  background-color: #dfdfdf;
  border-color: #d3d3d3;
}
.btn:active {
  background-color: #fff;
}

.list > span {
  display: inline-block;
  border: 1px dashed #d3d3d3;
  padding: 0 4px;
  margin: 4px;
}

.list > .list {
  border-left: 2px solid red;
  padding: 0 4px;
  margin: 4px;
}

.list > .list > span {
  padding: 0;
}
